<%= form_for(@code_class) do |f| %>
  <% if @code_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@code_class.errors.count, "error") %> prohibited this code_class from being saved:</h2>

      <ul>
      <% @code_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ancestors %><br>
    <%= f.text_field :ancestors %>
  </div>
  <div class="field">
    <%= f.label :code_file_id %><br>
    <%= f.text_field :code_file_id %>
  </div>
  <div class="field">
    <%= f.label :line %><br>
    <%= f.number_field :line %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
