<%= form_for(@code_file) do |f| %>
  <% if @code_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@code_file.errors.count, "error") %> prohibited this code_file from being saved:</h2>

      <ul>
      <% @code_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :path %><br>
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.text_field :project_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
