<h1 class="clarity-h1"><span class="big-icon show-folder-heading-icon"><%= fa_icon("file-text-o")%></span> File: <%= @code_file.name %></h1>

<!--<p id="notice"><%= notice %></p>-->
<div class="clarity-detail-box">
  <div class="row">
    <div class="col-md-8">
      <p>
        <strong>Project:</strong>
        <%= @code_file.project.name %>
      </p>
      <p>
        <strong>Path:</strong>
        <%= @code_file.path %>
      </p>
      <ul>
        <% if @code_file.code_classes.any? %>
        <li><%= @code_file.code_classes.count %> class(es)</li>
        <%end%>
        <% if @code_file.code_methods.any? %>
        <li><%= @code_file.code_methods.count %> method(s)</li>
        <%end%>
        <% if @code_file.variables.any? %>
        <li><%= @code_file.variables.count %> variable(s)</li>
        <%end%>      
      </ul>
    </div>
    <div class="col-md-4">
      <% if @display_all %>
        <%= link_to "Hide code", code_file_path(@code_file), 
                  class: "btn btn-info", 
                  style: "float: right; margin-right: 15px;",
                  id:  "code-file-show-page-hide-code" 
                  %>      
      <% else %>
        <%= link_to "Display entire file", code_file_path(@code_file) + "?display=all#code-file-show-page-code-block", 
                  class: "btn btn-info", 
                  style: "float: right; margin-right: 15px;" 
                  %>
      <% end %>
    </div>
  </div>
</div>

<% if @code_file.code_classes.any? %>
<h2 class="clarity-h2">Classes:</h2>
<ul>
  <% @code_file.code_classes.each do |ccclass| %>
  <li><%= link_to ccclass.name, code_class_path( ccclass ) %></li>
  <%end%>
</ul>
<%end%>

<% if @code_file.code_methods.any? %>
<h2 class="clarity-h2">Methods:</h2>
<ul>
  <% @code_file.code_methods.each do |mmmethod| %>
  <li><%= link_to mmmethod.name, code_method_path( mmmethod ) %></li>
  <%end%>
</ul>
<%end%>

<% if @code_file.variables.any? %>
<h2 class="clarity-h2">Variables:</h2>
<ul>
  <% @code_file.variables.each do |vvvar| %>
  <li><%= vvvar.name %></li>
  <!--<li><%#= link_to vvvar.name, variable_path( vvvar ) %></li>-->
  <%end%>
</ul>
<%end%>   

<div id="code-file-show-page-code-block">
  <% if @display_all %>
  <h2 class="clarity-h2">Source Code:  <%= @code_file.name %></h2>
    <pre><code><%= get_code_for_file( @code_file ) %></code></pre>
  <% end %>   
</div>
